.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden; //if something reaches out of parent container this will hide those parts

  &__content {
    //filling video in the container
    height: 100%;
    width: 100%;
    object-fit: cover; // video will fill the entire parent while mainting the aspect ration
  }
}
