.card {
  -webkit-perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; // needed because we want sides to be absolutely position towards this element
  height: 52rem;

  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all 0.8s ease; //careful not to forget the unit in seconds

    position: absolute; // we took cards of natural float so this means that parent container collapsed in hegith, clear fix cannot be used for absolute problem we need to specify height
    top: 0;
    left: 0;
    width: 100%; // needed with absolute positioning;;
    backface-visibility: hidden; // basically hides the backpart of element
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &:hover &__side--front {
    transform: rotateY(
      -180deg
    ); // important to change to minus because it causes other side rotation
  }

  //FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    overflow: hidden; // because image is overflowing corners
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(
      0 0,
      100% 0,
      100% 85%,
      0 100%
    ); // this rekts overflow in chrome
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 70%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; //putting heading into two line as two elemets.
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-1;
        }
      }
    }
  }

  &__cta {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__pricebox {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
  //HERE IS CHAGNE FOR TABLET
  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white !important;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(
        0
      ); // important to change to minus because it causes other side rotation
    }

    &__cta {
      width: 90%;
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0);
      width: 100%;
      padding: 2rem;
    }

    &__pricebox {
      padding-top: 4rem;
      margin-bottom: 8rem;
    }

    &__price-only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &__price-value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
