.popup {
  background-color: rgba($color-black, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s;
  }

  @supports (
    -webkit-backdrop-filter: blur(10px) or (backdrop-filter: blur(10px))
  ) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.2);
  }
  &__left {
    width: 33.33333333%;
    display: table-cell;

    @include respond(phone) {
      width: 100%;
      display: block;
    }
  }

  &__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle; // used in table display elelemts
    padding: 3rem 5rem;
    @include respond(phone) {
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    //column layout in CSS
    column-count: 2;
    column-gap: 4rem; //space between columns
    column-rule: 1px solid $color-grey-light-1; //border between columns
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; //- at the end of words at the end of line
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      @include respond(phone) {
        color: $color-primary;
        font-weight: 900;
        font-size: 5rem;
      }
    }
    &:hover {
      color: $color-primary;
    }
  }
}
