/*Custom animations*/
@keyframes moveInLeft {
  0% {
    opacity: 0; /* make it invisible*/
    transform: translateX(-30%);
  }

  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1; /*make it fully visible*/
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0; /* make it invisible*/
    transform: translateX(30%);
  }

  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1; /*make it fully visible*/
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0; /* make it invisible*/
    transform: translateY(3rem);
  }

  100% {
    opacity: 1; /*make it fully visible*/
    transform: translateY(0);
  }
}
